@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override the styles for the toastify container */
.Toastify__toast-container {
  padding: 0 !important;
  width: 50% !important;
}

/* Override the styles for the toast */
.Toastify__toast {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
